.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.csv
*.json
*.jsonl
*.db
*.sqlite
*.sqlite3
*.env
*.env.local
*.pyc
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
*.class